/* 1. Global */

body {
  background-image: url("../images/sky-image.jpg");
  background-size: cover;
  font-family: "Inter", sans-serif;
}

header {
  border-bottom: 1px solid rgba(124, 111, 111, 0.6);
  padding: 0 0 30px 0;
}

main {
  padding: 30px 0;
}

footer {
  border-top: 1px solid rgba(124, 111, 111, 0.6);
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding: 30px 0 0 0;
  text-align: center;
}

/* 2. Inputs & Forms */

.enter-city-input {
  background: rgba(237, 229, 166, 0.7);
  border-radius: 4px;
  font-size: 16px;
  line-height: 25px;
  padding: 5px 10px;
  width: 400px;
}

.search-city-form {
  background: rgba(176, 208, 226, 0.3);
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  width: 90%;
}

.submit-search-button {
  background: #498467;
  border: none;
  border-radius: 16px;
  color: white;
  font-size: 16px;
  margin-left: 10px;
  padding: 10px 20px;
}

/* 3. Weather App Layout */

.weather-app-body {
  background: rgba(237, 229, 166, 0.7);
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.05);
  margin: 30px auto;
  max-width: 600px;
  padding: 30px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

/* 4. Weather Display Elements */

.current-temperature {
  font-size: 70px;
}

.current-temperature-unit {
  font-size: 28px;
  margin-top: 12px;
}

.weather-app-city {
  font-size: 44px;
  line-height: 48px;
  margin: 0;
}

.weather-app-detailed-data {
  font-size: 18px;
  line-height: 20px;
}

.weather-app-figures {
  color: #592941;
  font-style: italic;
  font-weight: 500;
}

.weather-app-temperature {
  display: flex;
}

.weather-app-icon {
  line-height: 88px;
}
