body {
  background: blue;
  font-family: "Inter", sans-serif;
}
.weather-app-body {
  background: white;
  max-width: 680px;
  margin: 50px, auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.05);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid black;
  padding: 0 0 30px 0;
}

.search-city-form {
  background: bisque;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 10 px 20px;
  font-size: 16px;
}

.submit-search-button {
  background: blue;
  border: none;
  border-radius: 16px;
  color: white;
  padding: 15px, 30px;
  margin-left: 5px;
  font-size: 16px;
}

footer {
  border-top: 1px solid black;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
